.parallax {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;

  h1 {
    font-size: 6vh;
    z-index: 4;
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    top: 10%;
  }

  .project-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 3; 
    top: 0;
    left: 0;
  }

}

// @media (max-width: 1200px) {
//   .parallax h1 {
//     font-size: 5vh;
//   }
// }

// @media (max-width: 768px) {
//   .parallax h1 {
//     font-size: 4vh;
//   }
// }

// @media (max-width: 480px) {
//   .parallax h1 {
//     font-size: 3vh;
//   }
// }

@media only screen and (min-width: 667px) and (max-width: 932px) and (max-height: 430px) { 
  .parallax h1 {
    font-size: 4vw;
  }
}
