

.custom-modal {

  height: 70vh !important;
  margin-top: 10vh;

    .ant-modal{
      width: 80%; /* Set the width of the modal */
      max-width: 800px;
    }

    .ant-modal-content {
      background-color: rgb(73, 99, 103); /* Set background color */
      color: #fff;
      border-radius: 8px; /* Add rounded corners */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
      // height: 100%;
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
    }
  
    .ant-modal-header {
      display: flex;
      align-items: center;
    //   background-color: rgb(243, 207, 168);
      background-color: #bf8e98; /* Header background color */
      color: #fff; /* Header text color */
      border-radius: 8px 8px 0 0; /* Rounded corners, excluding bottom */
      margin-right: 10rem;
    }
  
    .ant-modal-title {
      color: #fff; /* Title text color */
    }
  
    .ant-modal-body {
      padding: 1rem; /* Add padding */
    }
  
    .ant-modal-footer {
      border-top: none; /* Remove border from footer */
    }
  
    .ant-modal-footer button {
      border-radius: 0 0 8px 8px; /* Rounded corners, excluding top */
    }
    li {
      font-size: large;
      margin-top: 2rem;
    }
  }
  
.projects {
  position: relative;
  height: auto;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    .progressBar {
        height: 10px;
        background-color: white;
    }
  }

  // .container {
  //   padding: 0 1rem;
  //   gap: 3vh;
  //   .project-img-col {
  //     height: 30vh;
  //   }
  // }

  .container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    .project-row{
      padding: 1rem;
    }
    // .project-img-col {
    //   width: 35vw;
    //   height: 50vh;
    //   padding-top: 1rem;
    // }
    //  .project-img {
    //   width: 100%;
    //   height: 100%;
    // }
    .project-text-col{
      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        // gap: 30px;
        // margin-top: 2rem;
        overflow: hidden;
  
            // h2 {
            //     font-size: 72px;
            // }
  
            // p {
            //     color: gray;
            //     font-size: 20px;
            // }
  
            // b {
            //     color: white;
            // }
  
            button {
                background-color: orange;
                border: none;
                border-radius: 10px;
                padding: 10px;
                // width: 200px;
                cursor: pointer;
            }
      }
    }
  }

}

// @media (max-width: 844px) {
//   .projects {
//     .progress {
//       font-size: 4vw;
//     }

//     .container {
//       padding: 0 1rem;
//       gap: 3vh;
//       .project-img-col {
//         height: 30vh;
//       }
//     }

//     .textContainer {
//       h2 {
//         font-size: 6vw;
//       }

//       p {
//         font-size: 2vw;
//       }

//       button {
//         width: 40vw;
//         font-size: 2vw;
//         padding: 2vh 3vh;
//       }
//     }
//   }
// }

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   .projects {
//     .progress {
//       font-size: 6vw;
//     }

//     .container {
//       padding: 0 1rem;
//       gap: 2vh;
//       .project-img-col {
//         // height: 30vh;
//         .project-img {
//           width: 100%;
//           height: 100%;
//         }
//       }
//     }

//     .textContainer {
//       h2 {
//         font-size: 8vw;
//       }

//       p {
//         font-size: 6vw;
//       }

//       button {
//         width: 40vw;
//         height: 7vh;
//         font-size: 3vw;
//         padding: 3vh 4vh;
//       }
//     }
//   }
// }

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

@media only screen and (max-width: 480px) {
  .projects {
    .progress {
      font-size: 6vw;
    }

    .container {
      padding: 0 1rem;
      gap: 2vh;
      .project-img-col {
        padding: 1rem;
        // height: 30vh;
        .project-img {
          width: 100%;
          height: 100%;
        }
      }
      .project-text-col{
        height: inherit;
        .textContainer {
          gap: 20px;
          h2 {
            font-size: 8vw;
          }
  
          p {
            font-size: 4vw;
          }
  
          button {
            width: 40vw;
            height: 8vh;
            font-size: 4vw;
            padding: 3vh 4vh;
          }
        }
      }
    }
  }
}

/* Smartphones (portrait) common one ----------- */
@media only screen and (min-width: 359px) and (min-height: 844px) { 
  .projects {
    .progress {
      font-size: 6vw;
    }

    .container {
      padding: 0 1rem;
      gap: 2vh;
      .project-img-col {
        // height: 30vh;
        padding: 1rem;
        .project-img {
          width: 100%;
          height: 100%;
        }
      }
      .project-text-col{
        height: inherit;
        .textContainer {
          gap: 40px;
          h2 {
            font-size: 8vw;
          }
  
          p {
            font-size: 5vw;
          }
  
          button {
            width: 50vw;
            height: 8vh;
            font-size: 5vw;
            padding: 3vh 4vh;
          }
        }
      }
    }
  }
}

// ipad air and mini portrait
@media only screen and (min-width: 768px) and (max-height: 1180px) {
  .projects {
    .progress {
      h1{
        font-size: 6vw;
      }
    }
    .container {
      padding: 0 1rem;
      gap: 2vh;
      .project-row{
        height: 50vh !important;
        .project-img-col {
          height: inherit;
          // height: 30vh;
          .project-img {
            height: inherit;
            width: 100%;
            // height: 100%;
          }
        }
      }
      .project-text-col{
        height: inherit;
      .textContainer {
        padding-top: 1.5rem;
        gap: 40px;
        height: inherit;
          h3{
            font-size: 3vw;
          }
          h2 {
            font-size: 6vw;
          }
    
          p {
            font-size: 3vw;
          }
    
          button {
            width: 40vw;
            // height: 7vh;
            font-size: 3vw;
            padding: 3vh 4vh;
          }
        }
      } 
    }
  }
}

/* Large devices and ipad pro (portrait) (laptops/desktops, 992px and up) */
@media only screen and (min-width: 853px) { 
  .projects {
    .progress {
      h1{
        font-size: 6vw;
      }
    }
    .container {
      padding: 0 1rem;
      gap: 2vh;
      .project-row{
        height: 40vh;
        .project-img-col {
          // height: 30vh;
          .project-img {
            width: 100%;
            height: 100%;
          }
        }
        .project-text-col{
          height: inherit;
          .textContainer {
            padding-top: 1rem;
            gap: 40px;
            H3 {
              font-size: 2.5vw;
            }
            h2 {
              font-size: 4vw;
            }
    
            p {
              font-size: 3vw;
            }
    
            button {
              width: 30vw;
              height: 8vh;
              font-size: 3vw;
              padding: 3vh 4vh;
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
  .projects {
    .progress {
      h1{
        font-size: 4vw;
      }
    }
    .container {
      padding: 5rem;
      gap: 2vh;
      .project-row{
        height: 60vh;
        .project-img-col {
          // height: 30vh;
          .project-img {
            width: 100%;
            height: 100%;
          }
        }
        .project-text-col{
          height: inherit;
          .textContainer {
            padding-top: 2rem;
            gap: 30px;
            H3 {
              font-size: 1.5vw;
            }
            h2 {
              font-size: 3vw;
            }
    
            p {
              font-size: 1.5vw;
            }
    
            button {
              width: 12vw;
              height: 7vh;
              font-size: 1.5vw;
              padding: 1vh 2vh;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .projects {
    .progress {
      h1{
        font-size: 4vw;
      }
    }
    .container {
        .project-text-col{
          height: 90%;
          .textContainer {
            padding-top: 1rem;
            gap: 20px;
            H3 {
              font-size: 1.5vw;
            }
            h2 {
              font-size: 3vw;
            }
    
            p {
              font-size: 1.5vw;
            }
    
            button {
              width: 12vw;
              height: 7vh;
              font-size: 1.5vw;
              padding: 1vh 2vh;
            }
          }
        }
      }
    }
}

// landscape

//landscape mobile screen
@media only screen and (max-width:932px) and (max-height: 430px) {
  .projects {
    .progress {
      h1{
        font-size: 4vw;
      }
    }
    .container {
      padding: 0 1rem;
      gap: 2vh;
      .project-row{
        height: 55vh !important;
        .project-img-col {
          // height: 30vh;
          height: inherit;
          .project-img {
            width: 100%;
            // height: 100%;
          }
        }
      } 
      .project-text-col{
        height: inherit;
        .textContainer {
          gap: 10px !important;
          h3 {
            font-size: 2vw !important;
          }
          h2 {
            font-size: 3vw !important;
          }
  
          p {
            font-size: 2vw !important;
          }
  
          button {
            width: 20vw !important;
            height: 10vh !important;
            font-size: 2vw !important;
            padding: 3vh 4vh;
          }
        }
      }
    }
  }
}

// ipad landscape
@media only screen and (min-width: 992px) and (max-height: 820px) { 
  .projects {
    .progress {
      h1{
        font-size: 5vw;
      }
    }
    .container {
      padding: 0 1rem;
      gap: 2vh;
      .project-row{
        height: 50vh;
        .project-img-col {
          // height: 30vh;
          height: inherit;
          .project-img {
            width: 100%;
            // height: 100%;
          }
        }
        .project-text-col{
          height: inherit;
          .textContainer {
            gap: 30px;
            h3 {
              font-size: 2vw;
            }
            h2 {
              font-size: 3vw;
            }
    
            p {
              font-size: 2vw;
            }
    
            button {
              width: 20vw;
              height: 10vh;
              font-size: 2vw;
              // padding: 3vh 4vh;
            }
          }
        }
      } 
    }
  }
}