
// new

.skills-wrapper {
    margin: 1rem;
    height: 100vh;
    .skills-row-main {
        height: inherit;
    }
    .skills-img-container{
        // height: auto;
        background-color: rgb(141, 93, 84);
        .skills-title {
            // position: sticky;
            top: 0;
            padding-top: 50px;
            text-align: center;
            color: orange;
            font-size: 4rem;
        }
        h1 {
            height: 10vh;
        }
    }
    .skills-card-container {
       .skills-card {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #403948; // Dark background for the card
            color: #fff; // Light text color
            border: 1px solid #444; // Optional border to add some contrast
            border-radius: 8px; // Rounded corners
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Subtle shadow for depth
            transition: transform 0.2s;
            height: 10vh;
            h1 {
                font-size: 3vw;
                font-weight: bolder;
            }
       }
    }
}

.skills-card:hover {
    transform: scale(1.05); // Slightly enlarge the card on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); // Enhance shadow on hover
}

@media only screen and (min-width: 992px) {
    .skills-wrapper {
        .skills-card-container {
            .skills-card {
                //  height: 10vh;
                 h1 {
                     font-size: 2vh;
                    //  font-weight: bolder;
                 }
            }
        }
    } 
}


// landscape mobile

@media only screen and (min-width: 667px) and (max-width: 932px) and (max-height: 900px) 
{
    .skills-wrapper {
        .skills-card-container {
            .skills-card {
                //  height: 10vh;
                 h1 {
                     font-size: 3vh;
                    //  font-weight: bolder;
                 }
            }
        }
    } 
}