.contact-title {
    position: sticky;
    top: 0;
    left: 0;
    // padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 4rem;
}

.contact-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    padding: 20px; /* Add some padding for better spacing */

    .contact-row {
        // margin: 4rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center horizontally within the contact container */
        align-items: flex-start; /* Align items to the start vertically */
        width: 100%; /* Ensure it takes full width of the parent container */

        // .contact-card {
            // width: 50vh;
            // height: auto;
            // img {
            //     height: 30rem;
            // }

        // }

        .contact-space {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%; 
        }

        .contact-card {
            width: 400px;
            margin-top: auto;
          }

        .card-details-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        
            .card-details {
                // width: 50%;
                flex-grow: 1; 
                p{
                    font-weight: bold;
                }
            }

            .social-container {
                width: auto;
                height: auto;
                display: flex;
                justify-content: flex-start;

                a {
                    // width: 10vw;
                    height: 6vh;
                    margin-left: 10px;
                }

                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-row {
      flex-direction: column;
    }
  
    .contact-space {
      order: 2;
    }
  
    .form-col {
      order: 1;
    }
  
    .card-details-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .social-container {
      margin-top: 10px;
      justify-content: flex-start;
    }
  
    .social-container a {
      margin-left: 0;
      margin-right: 10px;
    }
  }

@media (max-width: 480px) {
    .contact-title {
        position: sticky;
        top: 0;
        left: 0;
        // padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 2rem;
    }
}
